tg-transfer-project.transfer-project(ng-if="vm.project")
    .transfer-project-wrapper
        h2.transfer-project-title {{'ADMIN.PROJECT_TRANSFER.DO_YOU_ACCEPT_PROJECT_OWNERNSHIP' | translate}}
        .transfer-project-detail
            .transfer-project-image
                img(
                    tg-project-logo-small-src="vm.project"
                    alt="{{::project.get('name')}}"
                )
            .transfer-project-data
                h3 {{::vm.project.get("name")}}
                .transfer-project-statistics
                    span.transfer-project-private(ng-if="vm.project.get('is_private')")
                        svg.icon.icon-lock
                            use(xlink:href="#icon-lock")
                        span {{ PROJECT.PRIVATE | translate }}
                    span.transfer-project-members
                        svg.icon.icon-team
                            use(xlink:href="#icon-team")
                        span {{::vm.project.get("members").size}}

        p(
            translate="ADMIN.PROJECT_TRANSFER.PROPOSE_OWNERSHIP"
            translate-values="{owner: vm.project.getIn(['owner', 'full_name_display']), project: vm.project.get('name')}"
        )
        div(translate="ADMIN.PROJECT_TRANSFER.ADD_COMMENT")
        
        textarea(
            ng-if="vm.canBeTransferred"
            name="reason"
            ng-model="vm.reason"
        )
        
        p(
            translate="ADMIN.PROJECT_TRANSFER.OWNER_DATA"
            translate-values="{maxPrivateProjects: vm.maxPrivateProjects, maxMembers: vm.maxMembers}"
        )
        
        .transfer-options(ng-if="vm.canBeTransferred")
            a.button.button-gray(
                ng-click="vm.transferReject(vm.token, vm.reason)"
                href="#"
                title="{{'ADMIN.PROJECT_TRANSFER.REJECT' | translate}}"
                translate="ADMIN.PROJECT_TRANSFER.REJECT"
            )

            a.button.button-green(
                ng-click="vm.transferAccept(vm.token, vm.reason)"
                href="#"
                title="{{'ADMIN.PROJECT_TRANSFER.ACCEPT' | translate}}"
                translate="ADMIN.PROJECT_TRANSFER.ACCEPT"
            )

        div(ng-if="!vm.canBeTransferred")
            div(ng-if="vm.project.get('is_private') && !vm.canBePrivateProject.valid")
                div(ng-if="vm.canBePrivateProject.reason == 'max_private_projects'") {{ 'ADMIN.PROJECT_TRANSFER.MAX_PRIVATE_PROJECTS' | translate }}
                div(ng-if="vm.canBePrivateProject.reason == 'max_members_private_projects'") {{ 'ADMIN.PROJECT_TRANSFER.MAX_PRIVATE_PROJECTS_MEMBERS' | translate }}

            div(ng-if="!vm.project.get('is_private') && !vm.canBePublicProject.valid")
                div(ng-if="vm.canBePublicProject.reason == 'max_public_projects'") {{ 'ADMIN.PROJECT_TRANSFER.MAX_PUBLIC_PROJECTS' | translate }}
                div(ng-if="vm.canBePublicProject.reason == 'max_members_public_projects'") {{ 'ADMIN.PROJECT_TRANSFER.MAX_PUBLIC_PROJECTS_MEMBERS' | translate }}
